<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

    <title>Detalle del Pedido - EliBaExpress</title>
    <!-- sdk mercado pago front -->
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>
    <%- include('../partials/header') %>

    <h1 class="text-center">Detalle del pedido</h1>

    <% if (pedido) { %>
     
    
    <!-- pag detalle pedido -->
    <section class="d-flex flex-wrap justify-content-center">

    <article class="fondoGradient  m-2" style="max-width: 320px;">
        <div class="ms-3 d-flex align-content-around flex-wrap h-100" >
            <div class="">
                <h6 class="mb-1">Pedido <i class="me-1"> <%= pedido._id  %> </i></h6>
                <h5 class="mb-2"> <%= pedido.emailUser %> </h5>
            </div>
            <div>
                <div class="d-flex align-items-center justify-content-around"><p class="mb-2">Pedido realizado </p><i class="ms-3" id="IpedidoRealizado"> <%= pedido.createdAt %> </i> </div>
                <p class="my-3">Actualizado <i class="ms-4" id="IpedidoActualizado"> <%= pedido.updatedAt %> </i> </p>
            </div>
            <div>
                <button class="btn btn-danger">Cancelar Pedido</button>
            </div>
        </div>
    </article>
    <article class="fondoGradient  m-2" style="max-width: 320px;">
        <div >
            <div class="ms-2">
                <p class="mb-1 mt-3">Monto total del pedido: <i class="me-1">$<%= pedido.totalPedido %></i></p>
                <p class="mb-2">Total pagado: <i class="ms-2"> $0 </i> </p>
                <div class="text-center bg-light border border-light border-5 rounded">
                    <!-- <button class="btn btn-primary" >Pagar con Mercado Pago</button>  -->
                    <div id="wallet_container" class="mx-auto">  </div>
                </div>
                <div class="mt-3">
                    <p class="mb-2 d-inline me-4">Estado del pago: </p>
                    <span class="badge text-bg-success <%= pedido.statusPago == 'aprobado' || pedido.statusPago == '..' ? '' : 'd-none' %> ">Aprobado</span>
                    <span class="badge text-bg-warning <%= pedido.statusPago == 'pendiente' || pedido.statusPago == '..' ? '' : 'd-none' %> ">Pendiente</span>
                    <span class="badge text-bg-danger <%= pedido.statusPago == 'cancelado' || pedido.statusPago == '..' ? '' : 'd-none' %> ">Cancelado</span>
                    <span class="badge text-bg-danger <%= pedido.statusPago == 'rechazado' || pedido.statusPago == '..' ? '' : 'd-none' %>">Rechazado</span>
                    <span class="badge text-bg-danger <%= pedido.statusPago == 'devolucion' || pedido.statusPago == '..' ? '' : 'd-none' %>">Devolucion</span>
                </div>
    
                <div class="mt-2">
                    <p class="mb-1">Estados del pedido: </p>
                    <% pedido.estados.forEach( estado  => { %>
                        <small class="mb-2 ms-0 fs-6"><i class="ms-1" id="dateEstado"><%= estado.date %> </i> - <%= estado.msg %></small>
                     
                    <% }) %>
                </div>
            </div>
        </div>
    </article>
    <article class="fondoGradient  m-2" style="max-width: 320px;">
        <div class="d-flex justify-content-around flex-wrap">
            <div>
                <p class="mb-1">Comentarios:</p>
                <div class="mb-3">
                    <% pedido.comentarios.forEach( comentario => { %>
                        <b> - <%= comentario %> </b> <br>
                    <% }) %>
                </div>
                <form class="mb-1 text-end" id="formEnviarComentario">
                    <textarea class="form-control" name="textAreaComentario" rows="3"></textarea>
                    <button type="submit" class="btn btn-outline-light m-2">Enviar comentario</button>
                </form>
            </div>
        </div>
    </article>
    
    </section>
    
    <section class=" mt-2 fondoGradient px-1 mx-auto" id="containerPedido" style="max-width: 27cm;">
        <div>
            <h5 class="col mb-1 text-warning"> PEDIDO </h5>
        </div>
        <section class="d-flex flex-wrap justify-content-start">
    
            <% pedido.pedido.forEach( item => { %>
             
                <article class="fondoGradient container m-1" style="max-width: 320px;">
                    <div class="row ">
                        <p class="col mb-1 text-warning"> <%= item.titulo %> </p>
                    </div>
                    <div class="row text-center">
                        <p class="col py-0 px-1 mb-0 opacity-75"> <%= item.descripcionStock %> </p>
                    </div>
                    <div class="row text-center">
                        <p class="col mb-1 text-decoration-underline">cantidad</p>
                        <p class="col mb-1 text-decoration-underline">medida</p>
                        <p class="col mb-1 text-decoration-underline">color</p>
                    </div>
                    <div class="row text-center">
                        <p class="col mb-2 ps-0 pt-1"> <%= item.cantidad %> </p>
                        <p class="col mb-2"><%= item.medida %> <%= item.unidadDeMedida %></p>
                        <p class="col mb-2 ps-0 pt-1"> <%= item.color.split("||")[0] %> </p>
                    </div>
                    
                    <div class="row">
                        <p class="col">$<%= item.precio %> <i>por <%= item.unidadDeMedida %></i> </p>
                        <p class="col px-0">Total <b class="ps-1"> $<%= item.total %></b> </p>
                    </div>
                </article>
            <% }) %>
            
            
        </section>
    </section>
    
    <article class="fondoGradient mx-auto m-2" style="max-width: 15cm;">
        <div class="d-flex justify-content-around flex-wrap">
            <div>
                <h5 class="mb-1 text-warning">Datos de envio:</h5>
                
                <form class="mb-1 text-end" id="formDatosDeEnvio">
                    <div class="row  mb-2 align-items-center">
                        <div class="col-auto">
                          <label for="inputNombre" class="col-form-label">Apellido y Nombre</label>
                        </div>
                        <div class=" mt-0">
                          <input type="text" id="inputNombre" placeholder="Apellido y Nombre" value="" name="nombre" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputTelefono" class="col-form-label">Teléfono</label>
                        </div>
                        <div class="col-7">
                          <input type="number" id="inputTelefono" placeholder="Teléfono" value="" name="telefono" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputWhatsapp" class="col-form-label">WhatsApp</label>
                        </div>
                        <div class="col-7">
                          <input type="number" id="inputWhatsapp" name="whatsapp" placeholder="WhatsApp" value="" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputDni" class="col-form-label">Dni</label>
                        </div>
                        <div class="col-7">
                          <input type="number" id="inputDni" name="dni" placeholder="Dni" value="" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-0">
                        <div class="col-auto">
                          <label for="inputCuit" class="col-form-label">Cuit</label>
                        </div>
                        <div class="col-7">
                          <input type="number" id="inputCuit" name="cuit" placeholder="Cuit" value="" class="form-control">
                        </div>
                    </div>
                    <div class="row g-2 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                            <label for="selectTipoIva" class="col-form-label">IVA</label>
                          </div>
                        <div class="col-7">
                            <select class=" form-select form-select-sm" id="selectTipoIva" name="tipoIva" aria-label="Small select example">
                                <option selected>Tipo de IVA</option>
                                <option value="Consumidor Final">Consumidor Final</option>
                                <option value="Responsable Inscripto">Responsable Inscripto</option>
                                <option value="Monotributo">Monotributo</option>
                                <option value="Exento">Exento</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputCalle" class="col-form-label">Dirección</label>
                        </div>
                        <div class="col-7">
                          <input type="text" placeholder="Calle" value="" id="inputCalle" name="calle" class="form-control">
                          <input type="number" placeholder="Piso" value="" id="inputPiso" name="piso" class="form-control">
                          <input type="text" placeholder="Depto" value="" id="inputDepto" name="depto" class="form-control">
                          <input type="text" placeholder="Entre calles" value="" id="inputEntreCalles" name="entreCalles" class="form-control">
                          <input type="number" placeholder="Código postal" value="" id="inputCp" name="cp" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputLocalidad" class="col-form-label">Localidad</label>
                        </div>
                        <div class="col-7">
                          <input type="text" id="inputLocalidad" name="localidad" placeholder="Localidad" value="" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputProvincia" class="col-form-label">Provincia</label>
                        </div>
                        <div class="col-7">
                          <input type="text" id="inputProvincia" name="provincia" placeholder="Provincia" value="" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputTransporte" class="col-form-label">TRANSPORTE</label>
                        </div>
                        <div class="col-7">
                          <input type="text" id="inputTransporte" name="transporte" placeholder="TRANSPORTE" value="" class="form-control">
                        </div>
                    </div>
                    <div class="row  mb-2 align-items-center">
                        <div class="col-auto">
                          <label for="inputDetalles" class="col-form-label">Detalles</label>
                        </div>
                        <div class=" mt-0">
                          <input type="text" id="inputDetalles" name="detalles" placeholder="Detalles" value="" class="form-control">
                        </div>
                    </div>
    
                    <button type="submit" class="btn btn-outline-light m-2">Guardar datos</button>
                </form>
            </div>
        </div>
    </article>
    <input type="hidden" id="PublicKey_MercadoPago" value="<%= PublicKey_MercadoPago %>">
    <input type="hidden" id="PREFERENCE_ID_MercadoPago" value="<%= pedido.PREFERENCE_ID %>">

    <!-- script mercado pago -->
    <script>
        let PublicKey_MercadoPago = document.querySelector('#PublicKey_MercadoPago')
        let PREFERENCE_ID_MercadoPago = document.querySelector('#PREFERENCE_ID_MercadoPago')
        const mp = new MercadoPago( PublicKey_MercadoPago.value , {
          locale: 'es-AR'
        });
  
        mp.bricks().create("wallet", "wallet_container", {
          initialization: {
              preferenceId: PREFERENCE_ID_MercadoPago.value, 
          },
        });
    </script>

    
    <% } else { %>
        <div class="alert alert-secondary w-75 mx-auto" role="alert"> <%= message %> </div>    
    <% } %>

        <!-- moment -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js" integrity="sha512-4F1cxYdMiAW98oomSLaygEwmCnIP38pb4Kx70yQYqRwLVCs3DbRumfBq82T08g/4LJ/smbFGFpmeFlQgoDccgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/locale/es-mx.min.js" integrity="sha512-xDkjENZG+aLSnyKKVe8hFVXGnxSUXZmTHifRsaaGhRhFpEhLJTksMuqB/9zQHJ3xYwG0JAhFi0a6eG41n1I6/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="/js/detallePedido.js"></script>
    <%- include('../partials/footer') %>

</body>
</html>