<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

    <title>Detalle del Pedido - EliBaExpress</title>
    <!-- sdk mercado pago front -->
    <script src="https://sdk.mercadopago.com/js/v2"></script>
</head>
<body>
    <%- include('../partials/header') %>

    <h1 class="text-center">Detalle del pedido</h1>

    <% if (pedido) { %>
     
    
    <!-- pag detalle pedido -->
    <section class="d-flex flex-wrap justify-content-center">

    <article class="fondoGradient  m-2" style="max-width: 320px;">
        <div class="ms-3 d-flex align-content-around justify-content-center flex-wrap h-100" >
            <div class="">
                <h6 class="mb-1">Pedido <i class="me-1"> <%= pedido.external_reference  %> </i></h6>
                <h5 class="mb-2"> <%= pedido.emailUser %> </h5>
            </div>
            <div>
                <div class="d-flex align-items-center justify-content-around"><p class="mb-2">Pedido realizado </p><i class="ms-3" id="IpedidoRealizado"> <%= pedido.createdAt %> </i> </div>
                <p class="my-3">Actualizado <i class="ms-4" id="IpedidoActualizado"> <%= pedido.updatedAt %> </i> </p>
            </div>
            <div>
                <% if (!pedido.isCancelled) { %>
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Cancelar Pedido
                        </button>
                        <ul class="dropdown-menu">
                          <li><button class="dropdown-item btn btn-danger" idpedido="<%= pedido._id %>" id="btnCancelarPedido">Cancelar completamente el Pedido</button></li>
                        </ul>
                      </div>
                <% } else { %>
                    <button class="btn btn-danger" disabled> Pedido Cancelado</button>
                <% } %>
            </div>
        
            <a href="" class="btn btn-lg btn-success btn-sm my-2" id="btnWhAnunciarCambios" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
              </svg> Anunciar cambios por WhatsApp</a> 
            </div>

        </div>
    </article>
    <article class="fondoGradient  m-2" style="max-width: 320px;">
        <div >
            <div class="ms-2">
                <p class="mb-1 mt-3">Monto total del pedido: <i class="me-1">$<%= pedido.totalPedido %></i></p>
                <p class="mb-2">Total pagado: <i class="ms-2"> $
                    <% total = 0
                    pedido.pagos.forEach(pago => { 
                        pago.status == 'approved' ?  total += pago.pago : ''
                    }) %>
                    <%= total %>
                     </i> </p>
                <div class="text-center bg-light border border-light border-5 rounded">
                    <div id="wallet_container" class="mx-auto">  </div>
                </div>
                <div class="mt-3">
                    <p class="mb-2 d-inline me-4">Estado del pago: </p>
                    <span class="badge text-bg-success <%= pedido.statusPago == 'aprobado' || pedido.statusPago == 'paid' ? '' : 'd-none' %> ">Aprobado</span>
                    <span class="badge text-bg-warning <%= pedido.statusPago == 'pendiente' || pedido.statusPago == 'payment_required' ? '' : 'd-none' %> ">Pendiente</span>
                    <span class="badge text-bg-danger <%= pedido.statusPago == 'cancelado' || pedido.statusPago == 'reverted' ? '' : 'd-none' %> ">Cancelado</span>
                    <span class="badge text-bg-danger <%= pedido.statusPago == 'rechazado' || pedido.statusPago == 'reverted' ? '' : 'd-none' %>">Rechazado</span>
                    <span class="badge text-bg-danger <%= pedido.statusPago == 'devolucion' || pedido.statusPago == 'reverted' ? '' : 'd-none' %>">Devolucion</span>
                </div>
    
                <div class="mt-2">
                    <p class="mb-1">Pagos: </p>
                    <% pedido.pagos.forEach( pago  => { %>
                        <small class="mb-2 ms-0 fs-6"><i class="ms-1" id="datePago"><%= pago.fecha %></i> - $<%= pago.pago %> - <%= pago.status %></small>
                    <% }) %>
                </div>
                
                <div class="mt-2">
                    <p class="mb-1">Estados del pedido: </p>
                    <div class="table-responsive border border-2 rounded border-light" style="max-height: 1.5cm;">
                        <% pedido.estados.reverse().forEach( estado  => { %>
                            <small class="mb-2 ms-0 fs-6"><i class="ms-1" id="dateEstado"><%= estado.date %> </i> - <%= estado.msg %></small>            
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article class="fondoGradient  m-2" style="max-width: 320px;">
        <div class="d-flex justify-content-around flex-wrap">
            <div>
                <p class="mb-1">Comentarios:</p>
                <div class="mb-3">
                    <% pedido.comentarios.forEach( comentario => { %>
                        <b> - <%= comentario.comentario %> </b> <br>
                    <% }) %>
                </div>
                <% if (pedido.comentarios.length < 3) { %>
                    <form class="mb-1 text-end" id="formEnviarComentario" idpedido="<%= pedido._id %>">
                        <textarea class="form-control" name="textAreaComentario" id="textAreaComentario" rows="3"></textarea>
                        <button type="submit" class="btn btn-outline-light m-2">Enviar comentario</button>
                    </form>
                <% } else { %>
                    <a href="" class="btn btn-lg btn-success btn-sm my-2 mx-auto" id="btnWhAnunciarCambios2" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                        <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
                      </svg> Anunciar cambios por WhatsApp</a> 
                <% } %>
            </div>
        </div>
    </article>
    
    </section>
    
    <section class=" mt-2 fondoGradient px-1 mx-auto" id="containerPedido" style="max-width: 27cm;">
        <div>
            <h5 class="col mb-1 text-warning"> PEDIDO </h5>
        </div>
        <section class="d-flex flex-wrap justify-content-start">
    
            <% pedido.pedido.forEach( item => { %>
             
                <article class="fondoGradient container m-1" style="max-width: 320px;">
                    <div class="row ">
                        <p class="col mb-1 text-warning"> <%= item.titulo %> </p>
                    </div>
                    <div class="row text-center">
                        <p class="col py-0 px-1 mb-0 opacity-75"> <%= item.descripcionStock %> </p>
                    </div>
                    <div class="row text-center">
                        <p class="col mb-1 text-decoration-underline">cantidad</p>
                        <p class="col mb-1 text-decoration-underline">medida</p>
                        <p class="col mb-1 text-decoration-underline">color</p>
                    </div>
                    <div class="row text-center">
                        <p class="col mb-2 ps-0 pt-1"> <%= item.cantidad %> </p>
                        <p class="col mb-2"><%= item.medida %> <%= item.unidadDeMedida %></p>
                        <p class="col mb-2 ps-0 pt-1"> <%= item.color.split("||")[0] %> </p>
                    </div>
                    
                    <div class="row">
                        <p class="col">$<%= item.precio %> <i>por <%= item.unidadDeMedida %></i> </p>
                        <p class="col px-0">Total <b class="ps-1"> $<%= item.total %></b> </p>
                    </div>
                </article>
            <% }) %>
            
            
        </section>
    </section>
    
    <article class="fondoGradient mx-auto m-2" style="max-width: 15cm;">
        <div class="d-flex justify-content-around flex-wrap">
            <div>
                <h5 class="mb-1 text-warning">Datos de envio:</h5>

                <form class="mb-1 text-end" id="formDatosDeEnvio" idpedido="<%= pedido._id %>">
                    <div class="row  mb-2 align-items-center">
                        <div class="col-auto">
                          <label for="inputNombre" class="col-form-label">Apellido y Nombre</label>
                        </div>
                        <div class=" mt-0">
                          <input type="text" id="inputNombre" required placeholder="Apellido y Nombre" value="<%= pedido.datosEnvio.nombre %>" name="nombre" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputTelefono" class="col-form-label">Teléfono</label>
                        </div>
                        <div class="col-7">
                          <input type="number" id="inputTelefono" placeholder="Teléfono" value="<%= pedido.datosEnvio.telefono %>" name="telefono" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputWhatsapp"  class="col-form-label">WhatsApp</label>
                        </div>
                        <div class="col-7">
                          <input type="number" required id="inputWhatsapp" name="whatsapp" placeholder="WhatsApp" value="<%= pedido.datosEnvio.whatsapp %>" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputDni"  class="col-form-label">Dni</label>
                        </div>
                        <div class="col-7">
                          <input type="number" required id="inputDni" name="dni" placeholder="Dni" value="<%= pedido.datosEnvio.dni %>" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-0">
                        <div class="col-auto">
                          <label for="inputCuit" class="col-form-label">Cuit</label>
                        </div>
                        <div class="col-7">
                          <input type="number" id="inputCuit" name="cuit" placeholder="Cuit" value="<%= pedido.datosEnvio.cuit %>" class="form-control">
                        </div>
                    </div>
                    <div class="row g-2 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                            <label for="selectTipoIva" class="col-form-label">IVA</label>
                          </div>
                        <div class="col-7">
                            <select class=" form-select form-select-sm" id="selectTipoIva" name="tipoIva" aria-label="Small select example">
                                <option>Tipo de IVA</option>
                                <option <%= pedido.datosEnvio.tipoIva == 'Consumidor Final' || pedido.datosEnvio.tipoIva == 'Tipo de IVA' ? 'selected' : '' %> value="Consumidor Final">Consumidor Final</option>
                                <option <%= pedido.datosEnvio.tipoIva == 'Responsable Inscripto' ? 'selected' : '' %> value="Responsable Inscripto">Responsable Inscripto</option>
                                <option <%= pedido.datosEnvio.tipoIva == 'Monotributo' ? 'selected' : '' %> value="Monotributo">Monotributo</option>
                                <option <%= pedido.datosEnvio.tipoIva == 'Exento' ? 'selected' : '' %> value="Exento">Exento</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputCalle" class="col-form-label">Dirección</label>
                        </div>
                        <div class="col-7">
                          <input type="text" placeholder="Calle" value="<%= pedido.datosEnvio.calle %>" id="inputCalle" name="calle" class="form-control">
                          <input type="number" placeholder="Piso" value="<%= pedido.datosEnvio.piso %>" id="inputPiso" name="piso" class="form-control">
                          <input type="text" placeholder="Depto" value="<%= pedido.datosEnvio.depto %>" id="inputDepto" name="depto" class="form-control">
                          <input type="text" placeholder="Entre calles" value="<%= pedido.datosEnvio.entreCalles %>" id="inputEntreCalles" name="entreCalles" class="form-control">
                          <input type="number" placeholder="Código postal" value="<%= pedido.datosEnvio.cp %>" id="inputCp" name="cp" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputLocalidad"  class="col-form-label">Localidad</label>
                        </div>
                        <div class="col-7">
                          <input type="text" id="inputLocalidad" required name="localidad" placeholder="Localidad" value="<%= pedido.datosEnvio.localidad %>" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputProvincia"  class="col-form-label">Provincia</label>
                        </div>
                        <div class="col-7">
                          <input type="text" required id="inputProvincia" name="provincia" placeholder="Provincia" value="<%= pedido.datosEnvio.provincia %>" class="form-control">
                        </div>
                    </div>
                    <div class="row g-3 align-items-center justify-content-between mb-1">
                        <div class="col-auto">
                          <label for="inputTransporte" class="col-form-label">TRANSPORTE</label>
                        </div>
                        <div class="col-7">
                          <input type="text" id="inputTransporte" name="transporte" placeholder="TRANSPORTE" value="<%= pedido.datosEnvio.transporte %>" class="form-control">
                        </div>
                    </div>
                    <div class="row  mb-2 align-items-center">
                        <div class="col-auto">
                          <label for="inputDetalles" class="col-form-label">Detalles</label>
                        </div>
                        <div class=" mt-0">
                          <input type="text" id="inputDetalles" name="detalles" placeholder="Detalles" value="<%= pedido.datosEnvio.detalles %>" class="form-control">
                        </div>
                    </div>
    
                    <button type="submit" class="btn btn-outline-light m-2">Guardar datos</button>
                </form>
            </div>
        </div>
    </article>
    <input type="hidden" id="PublicKey_MercadoPago" value="<%= PublicKey_MercadoPago %>">
    <input type="hidden" id="PREFERENCE_ID_MercadoPago" value="<%= pedido.isCancelled || pedido.statusPago == 'paid' || Date.now() - pedido.createdAt > 432000000 ? '' : pedido.PREFERENCE_ID %>">

    <!-- script mercado pago -->
    <script>
        let PublicKey_MercadoPago = document.querySelector('#PublicKey_MercadoPago')
        let PREFERENCE_ID_MercadoPago = document.querySelector('#PREFERENCE_ID_MercadoPago')
        const mp = new MercadoPago( PublicKey_MercadoPago.value , {
          locale: 'es-AR'
        });
  
        if (PREFERENCE_ID_MercadoPago.value.length > 0) {
            mp.bricks().create("wallet", "wallet_container", {
                initialization: {
                    preferenceId: PREFERENCE_ID_MercadoPago.value, 
                },
            });
        }
    </script>

    
    <% } else { %>
        <div class="alert alert-secondary w-75 mx-auto" role="alert"> <%= message %> </div>    
    <% } %>

        <!-- moment -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/moment-with-locales.min.js" integrity="sha512-4F1cxYdMiAW98oomSLaygEwmCnIP38pb4Kx70yQYqRwLVCs3DbRumfBq82T08g/4LJ/smbFGFpmeFlQgoDccgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.30.1/locale/es-mx.min.js" integrity="sha512-xDkjENZG+aLSnyKKVe8hFVXGnxSUXZmTHifRsaaGhRhFpEhLJTksMuqB/9zQHJ3xYwG0JAhFi0a6eG41n1I6/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="/js/detallePedido.js"></script>
    <%- include('../partials/footer') %>

</body>
</html>