<!-- https://elibaexpress-production.up.railway.app/ -->

<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>

    <title>
      <%= product && product.titulo || '' %> - EliBaExpress
    </title>

    <!-- SEO -->
    <meta name="description" content="Comprá en EliBaExpress! <%= locals.product && product.descripcion || 'Encuentre más productos en EliBaExpress' %>">
    <meta name="keywords" content="<%= locals.product && product.etiquetas || 'Tela, Confeccion, Mejor precio' %>">
    <meta name="author" content="MDCDigital - MDCDigital26@gmail.com">
    <meta name="language" content="spanish">
    <meta name="copyright" content="MDCDigital">
    <meta name="audience" content="all">
    <meta name="robots" content="index, all, follow">
    <meta name="category" content="Producto en venta">

    <!-- SEO OG -->
    <meta property="og:title"content="<%= locals.product && product.titulo || 'Encuentre más productos en EliBaExpress' %>"/>
    <meta property="og:type"content="Producto"/>
    <meta property="og:description"content="Comprá en EliBaExpress! <%= locals.product && product.descripcion || 'Encuentre más productos en EliBaExpress' %>"/>
    <meta property="og:image"content="<%= product && product.imagenes.length > 0 && product.imagenes[0].url || '' %>"/>
    <meta property="og:url"content="<%= urlActual %>"/>
    <meta property=”fb:admins” content=”EliBaExpress” />
    <meta property="og:price:amount" content="<%= product && product.ganancias.length > 0 && product.ganancias[0].precio || '00.00' %>" />
    <meta property="og:price:currency" content="ARS" />

    <!-- SEO twiter -->
    <meta name=”twitter:card” content="summary with large image">
    <meta name="twitter:url" contnet="<%= urlActual %>">
    <meta name="twitter:title" contnet="<%= locals.product && product.titulo || 'Encuentre más productos en EliBaExpress' %>">
    <meta name="twitter:description" contnet="Comprá en EliBaExpress! <%= locals.product && product.descripcion || 'Encuentre más productos en EliBaExpress' %>">
    <meta name="twitter:image" contnet="<%= product && product.imagenes.length > 0 && product.imagenes[0].url || '' %>">

    <meta itemprop="image" content="<%= product && product.imagenes.length > 0 && product.imagenes[0].url || '' %>" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Product",
        "name": "<%= product && product.titulo %>",
        "description": "Comprá en EliBaExpress! <%= product && product.descripcion %>",
        "availabilityStarts": "<%= product && new Date (product.updatedAt) //.toLocaleString('en-GB', { timeZone: 'UTC' }) %>",
        "validFrom": "<%= product && new Date (product.updatedAt) //.toLocaleString('en-GB', { timeZone: 'UTC' }) %>",
        "url": "<%= urlActual %>",
        "offers": {
            "@type": "Offer",
            "priceCurrency": "ARS",
            "price": "<%= product && product.ganancias.length > 0 && product.ganancias[0].precio || 0 %>"
        },
        "images": [<%= product && product.imagenes.length > 0 && product.imagenes.map(imagen=> String(imagen.url) ).join(',') || '' %>],
        "review": {
          "@type": "Review",
          "reviewRating": {
            "@type": "Rating",
            "ratingValue": 5,
            "bestRating": 5
          },
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": <%= product && product.vistas %>,
          "reviewCount": <%= product && product.vistas %>
        },
      }
    </script>

</head>

<body>
  <%- include('../partials/header') %>
    <% if (product) { %>

      <style>
        .estiloPicker {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;
          background-color: transparent;
          border: none;
        }
        .estiloPicker::-webkit-color-swatch {
          border-radius: 8px;
          border: none;
        }
        .estiloPicker::-moz-color-swatch {
          border-radius: 8px;
          border: none;
        }
      </style>

      <div class="mx-auto w-75 alert alert-secondary <%= product.isActive ? 'd-none' : '' %>" role="alert"> El producto
        se encuentra temporalmente pausado.</div>

      <div class="card mx-auto my-3 p-1" style="max-width: 20cm;">

        <h3 class="card-title bg-ligth text-secondary ps-5 m-1"> <%= product.titulo %>  </h3>

        <section class="d-flex justify-content-start table-responsive">
          <% product.imagenes.forEach(imagen=> { %>
            <img src="<%= imagen.url %>" class="img-thumbnail m-3" itemprop="image" alt="imgProduct"
              style="max-width: 7cm; max-height: 7cm;">
            <% }) %>
        </section>
        <div class="card-body">

          <div class="d-flex mb-2 justify-content-start flex-nowrap align-items-center table-responsive">
            <% product.etiquetas && product.etiquetas.trim().split(',').forEach( etiqueta=> { %>
              <% if (etiqueta.length>= 2) { %>
                <small class="text-uppercase bg-danger rounded-pill p-2 m-1 text-white" style="min-width: fit-content;">
                  <%= etiqueta %>
                </small>
                <% } %>
                  <% }) %>
          </div>

          <h3 class="card-title bg-secondary text-white ps-2">
            <%= product.titulo %>
          </h3>

          <p class="card-text" id="descripcionProducto">
            <%= //product.descripcion.replaceAll('\n', '<br>' ) %>
              <% product.descripcion.split('\n').forEach(parrafo=> { %>
                <%= parrafo %><br>
                  <% }) %>
          </p>
          <hr>
          <section style="max-width: 80%;" class="mx-auto mb-3" id="sectPrecios">

            <h5 class="text-underline"> Precios </h5>

            <% product.ganancias.forEach( forma=> { %>
              <% if (forma.activo) { %>
                <p class="card-text mb-1">--<i>
                    <%= forma.forma %>
                  </i> <svg style="color:#c6538c;" aria-hidden="true" height="10" viewBox="0 0 16 16" version="1.1"
                    width="10" data-view-component="true" class="octicon octicon-dot-fill mr-2">
                    <path d="M8 4a4 4 0 1 1 0 8 4 4 0 0 1 0-8Z"></path>
                  </svg> <b itemprop="price">
                    <%= forma.precio %>
                  </b></p>
                <% } %>
                  <% }) %>


                    <div class="text-end mt-4">
                      <a id="btnWh1" href="" itemprop="contact" class="btn btn-outline-success btn-lg"
                        target="_blank">Comprar</a>

                      <script type="text/javascript">
                        let linkWh3 = 'https://wa.me/5491130201084/?text=' + encodeURIComponent(location.href + '\n\nHola EliBaExpress!!\nQuiero que me llamen para comprar este producto.\nGracias!')
                        document.querySelector('#btnWh1').setAttribute("href", linkWh3)
                      </script>

                    </div>
                    <hr>
          </section>

          <p class="card-text text-body-secondary mb-0"><small class="text-body-secondary">Última actualización <%= new
                Date(product.updatedAt).toLocaleDateString(('es-ES'), { year: 'numeric' , month: 'long' , day: 'numeric'
                ,}) %></small> </p>
          <p class="card-text text-body-secondary"><small class="text-body-secondary">Vistas </small>
            <%= product.vistas %>
          </p>
        </div>

        <!-- disponibilidad online para agregar al carrito -->
        <% if (product.stock && product.stock.length > 0) { %>
          <h6 class="fondoGradient m-3 mb-0" >Disponibles OnLine</h6>
        <% } %>
        <section class="d-flex flex-wrap justify-content-start mt-2" id="containerCarrito">
        <% product.stock && product.stock.forEach( stock => { %>
         <% stock.disponibilidad.forEach( disponibilidad => { %>
          <% if (disponibilidad.isActive) { %>
            <section style="width:8cm;" class="container my-3 fondoGradient">
            
              <div class="row ">
                  <p class="col mb-1 text-warning"> <%= product.titulo %> </p>
              </div>
             
              <div class="row text-center">
                  <p class="col py-0 px-1 mb-0 opacity-75"> <%= stock.descripcion %> </p>
              </div>
              <div class="row text-center">
                  <p class="col py-1 px-1 mb-2 opacity-75"> <i> <%= disponibilidad.cantidadDisponible %> </i> Disponibles</p>
              </div>
              
              <div class="row text-center">
                  <p class="col mb-1 text-decoration-underline">color</p>
                  <p class="col mb-1 text-decoration-underline">medida</p>
              </div>
              <div class="row text-center align-content-center">
                <div class="col  mb-2">
                  <input class="d-inline p-0 border-0 rounded-pill estiloPicker" style="border-radius: 50%;" type="color" value="<%= disponibilidad.color.split('||')[1] %>" disabled>
                  <p class="d-inline mb-2 ps-0 p-0 rounded"> <%= disponibilidad.color.split('||')[0] %> </p>
                </div>
                  <p class="col mb-2"> <%= disponibilidad.medida %> <%= product.unidadDeMedida %> </p>
              </div>
              
              <div class="row">
                  <p class="col">$ <%= stock.precio %> <i>por <%= product.unidadDeMedida %> </i> </p>
                  <p class="col">Total <i class="ps-2"> $ <%= stock.precio * disponibilidad.medida %> </i> </p>
              </div>
              
              <div class="row">
                  <div class="col ">
                      <button class="btn btn-success ms-5 btn-sm" onclick="agregarAlCarrito(this,{cantidad:1,cod:'<%= disponibilidad.cod %>',codStock: '<%= stock.codStock %>' })" >Agregar al carrito</button>
                      <button class="btn btn-outline-light btn-dange ms-5 btn-sm">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                              <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
                            </svg>
                      </button>
                  </div>
              </div>
          </section>
          <% } %>
         <% }) %>
        <% }) %>
        </section>
        <script>
          function agregarAlCarrito(e,dataItem) {
            e.disabled = true
            e.innerHTML = '✅'
            let carrito = JSON.parse(localStorage.getItem('carrito'));
            carrito.push(dataItem)
            localStorage.setItem('carrito', JSON.stringify(carrito));
          }
        </script>

      </div>
      <% } else { %>
        <div class="mx-auto w-75 alert alert-secondary" role="alert"> No encontramos el producto. <a href="/">Inicio</a>
        </div>
        <% } %>
          <%- include('../partials/footer') %>

</body>

</html>