<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

    <title>EliBaExpress - Edición - <%= product && product.titulo || '' %> </title>
</head>
<body>
    <%- include('../partials/header') %>


    <h1 class="text-center">Editar Producto</h1>
    
    <% if(product.length != 0) { %>
    <section class="card m-3 p-2 mx-auto" style="max-width: 25cm; background-color: rgb(234, 231, 231);">
        <form id="formP1">
            <div class="mb-3">
                <label for="inputTitulo" class="form-label">Título</label>
                <input type="text" class="form-control"  value="<%= product.titulo %>" minlength="5" maxlength="70" id="inputTitulo" placeholder="Titulo del producto">
            </div>
            
            
            <div class="mb-3">
                <label for="inputDescripcion" class="form-label">Descripción</label>
                <textarea class="form-control" id="inputDescripcion" rows="7" placeholder="Descripción"><%= product.descripcion %></textarea>
            </div>
            
            <div class="mb-3">
                <label for="inputEtiquetas" class="form-label">Etiquetas</label>
                <input type="text" class="form-control"  value="<%= product.etiquetas %>" minlength="5" maxlength="200" id="inputEtiquetas" placeholder="en oferta, baratísimo, últimas unidades, marketing!">
                <label for="inputEtiquetas" class="form-label text-secondary">Escriba etiquetas, separe por ',' coma cada una.</label>
            </div>

            <div class="m-3 text-end">
                <button type="submit" id="btnGuardarP1" class="btn btn-success">Guardar</button>
            </div>

        </form>
    </section>

    <section class="card m-3 p-2 mx-auto" style="max-width: 25cm; background-color: rgb(234, 231, 231);">
        <div class="mb-3">
            <label for="inputFile" class="form-label">Subir Imágenes</label>
            <input type="file" class="form-control"  id="inputFile" multiple accept="image/*">
            <div id="feedbackInputFile"> </div>
        </div>

        <section id="sectImagenes" class="d-flex flex-wrap " title="Asignar imágen principal">
            <% product.imagenes.map((img,i) => { %>
                <div class="position-relative m-1" style="width: fit-content;" >
                    <svg xmlns="http://www.w3.org/2000/svg" title="Asignar imágen principal"  width="30" height="30" fill="currentColor" style="cursor: pointer; color: green;" class="bi bi-star position-absolute top-0 start-0 rounded-pill p-1 <%= i==0?'bg-success text-white':'' %>" onclick="setImagenPrincipal('<%= img.fileId %>', this)" viewBox="0 0 16 16"><path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/></svg>
                    <img src="/svg/icons8-eliminar.svg" width="25" height="25" class="position-absolute top-0 end-0 rounded-pill p-1" alt="rrr" style="cursor: pointer; background-color: red;" onclick="deleteImagen('<%= img.fileId %>', this)">
                    <img src=<%= img.url %> class="img-thumbnail" alt="Img" style="max-width: 4cm; max-height: 4cm;">
                </div>
            <% }) %>
        </section>

    </section>

    <section class="mx-auto my-3 p-3 text-center">
        <div class="dropdown mx-auto w-100">
            <button style="max-width: 20cm;" class="btn btn-outline-danger dropdown-toggle mx-auto w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false"> Eliminar Producto </button>
            <ul class="dropdown-menu " style="cursor: pointer;">
              <li><a class="dropdown-item bg-danger text-white" onclick="eliminarProducto(this)">Eliminar Producto publicado con sus imágenes</a></li>
            </ul>
          </div>
    </section>

<script src="/js/updateProductDetail.js"></script>

<% } else { %>
    <h4 class="text-center text-warning">Producto no encontrado / o eliminado</h4>
<% }  %>
    <%- include('../partials/footer') %>

</body>
</html>