<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

    <title>Index EliBaExpress</title>
</head>
<body>
    <%- include('../partials/header') %>

    <div class=" m-2 mt-3 alert alert-primary <%= locals.message && message != '' ? '' : 'd-none'  %> " role="alert"> <%= locals.message && message  %> </div>

    <!-- <h1 class="text-center">Index</h1> -->

    <section class="" style="max-width: 95%;">
        <h3 class="ms-3 mb-1 mt-3">Top 10 más buscados</h3>
        <section id="top10" class="d-flex table-responsive  bg-light">

        </section>
        <h4 class="text-end me-3 my-2"><a href="/products">Ver todos nuestros productos</a></h4>
    </section>

    <script src="/js/index.js"></script>
    <%- include('../partials/footer') %>

</body>
</html>