<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head') %>

    <title>EliBaExpress</title>
    <meta name="description" content="Comprá productos a precios imbatibles, retiralos en nuestra tienda o recibilos en tu domicilio.">

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "image": "https://elibaexpress.com.ar/img/logo/EliBaExpress-logo.png",
        "url": "https://elibaexpress.com.ar/",
        "logo": "https://elibaexpress.com.ar/img/logo/EliBaExpress-logo.png",
        "name": "EliBaExpress",
        "description": "Comprá productos a precios imbatibles, retiralos en nuestra tienda o recibilos en tu domicilio.",
        "email": "elibaexpress@gmail.com",
        "telephone": "+5491130201084",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Av. Corrientes 2095",
          "addressLocality": "Ciudad autonoma de Buenos Aires",
          "addressCountry": "AR",
          "addressRegion": "Buenos Aires",
          "postalCode": "1045"
        }
      }
      </script>

</head>
<body>
    <%- include('../partials/header') %>

    <div class=" m-2 mt-3 alert alert-primary <%= locals.message && message != '' ? '' : 'd-none'  %> " role="alert"> <%= locals.message && message  %> </div>

    <!-- <h1 class="text-center">Index</h1> -->

    <section id="sectResultadosBusqueda" class="d-none mb-5" style="max-width: 95%;">
        <h3 class="ms-3 mb-1 mt-3 text-secondary" id="h3ResultadosBusqueda">Resultados de la búsqueda</h3>
        <section id="resultadosBusqueda" class="d-flex table-responsive  bg-light">
            
        </section>
        <h4 class="text-end me-3 my-2"><a href="/products">Ver todos nuestros productos</a></h4>
    </section>

    <section class="" style="max-width: 95%;">
        <h3 class="ms-3 mb-1 mt-3">Top 10 más buscados</h3>
        <section id="top10" class="d-flex table-responsive  bg-light">
            <div class="card" style="width: 7cm;" id="placeholder" aria-hidden="true">
                <img class="card-img-top placeholder w-100" style="height: 4cm;">
                <div class="card-body">
                  <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                  </h5>
                  <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                  </p>
                  <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                </div>
              </div>
        </section>
        <h4 class="text-end me-3 my-2"><a href="/products">Ver todos nuestros productos</a></h4>
    </section>


    <section class="" style="max-width: 95%;">
        <h3 class="ms-3 mb-1 mt-3">Imágenes</h3>
        <section id="sectImagenes" class="d-flex table-responsive  bg-light">
            <div class="card" style="width: 7cm;" id="placeholder" aria-hidden="true">
                <img class="card-img-top placeholder w-100" style="height: 4cm;">
                <div class="card-body">
                  <h5 class="card-title placeholder-glow">
                    <span class="placeholder col-6"></span>
                  </h5>
                  <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                  </p>
                  <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
                </div>
              </div>
        </section>
        <h4 class="text-end me-3 my-2"><a href="/products">Ver todos nuestros productos</a></h4>
    </section>


    <section class="mx-auto mt-4 mb-3" style="max-width: 15cm;">
        <h3 class="ms-3 mb-2 mt-3">Precios</h3>
        <section id="sectPrecios" class="mx-auto bg-light p-3 rounded ">
            <div class="card" id="placeholder" aria-hidden="true">
                <div class="card-body">
                  <p class="card-text placeholder-glow">
                    <span class="placeholder col-7"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-4"></span>
                    <span class="placeholder col-6"></span>
                    <span class="placeholder col-8"></span>
                  </p>
                </div>
              </div>
        </section>
        <h4 class="text-end me-3 my-2"><a href="/products">Ver todos nuestros productos</a></h4>
    </section>

    <script src="/js/index.js"></script>
    <%- include('../partials/footer') %>

</body>
</html>